<!-- templates/about.html -->
<h2>About Me</h2>
<p>Hi! I'm Justin Tran, a full-stack data scientist and defense contractor with a passion for leveraging technology to solve complex, mission-critical problems. I bring a unique blend of skills from both front-end development and data science, specializing in building scalable, data-driven solutions. My experience spans working with cutting-edge technologies, including graph databases, large language models (LLMs), and specialized cloud-computing devices, allowing me to tackle complex challenges in national security and defense sectors.</p>

<h3>My Skills:</h3>
<ul>
    <li>Python, R, MATLAB for data science, machine learning, and statistical analysis</li>
    <li>AWS (S3, EC2, Snowball Edge) and Azure (Blob Storage, Entra, Edge Pro Stack) for service-agnostic cloud solutions, network automation, and infrastructure management</li>
    <li>HTML5, CSS3, JavaScript, and front-end frameworks (Plotly, Bootstrap, Jinja2) for dynamic web development</li>
    <li>Flask, PostgreSQL for back-end development and scalable database systems</li>
    <li>Git, GitHub, and version control systems for collaborative project development</li>
</ul>

<h3>My Journey:</h3>
<p>With over 5 years of coding experience, I began my career with a background in biomedical engineering. However, after an internship in the intelligence community, I discovered a passion for data science and decided to pivot my focus. I pursued data science courses alongside my degree and eventually transitioned into professional data science roles. This shift has enabled me to work on impactful, data-driven projects, particularly in defense and security, where the intersection of technology and national security presents unique challenges. I thrive on learning new technologies and applying them to real-world problems, and I am always seeking opportunities to grow my skill set and tackle new challenges.</p>

<p>If you’d like to connect or discuss potential projects, feel free to reach out to me via the contact page. I’m always open to new collaborations and opportunities!</p>