<!-- templates/contact.html -->
<h2>Contact Me</h2>
<p>If you'd like to get in touch, collaborate, or have any questions, feel free to reach out to me using the following methods:</p>

<h3>Email:</h3>
<p>justin1448393@gmail.com<br>justin.tran@tenica-gs.com</p>

<h3>Social Media:</h3>
<ul>
    <li><a href="https://www.linkedin.com/in/justin-tran-5117151b5" target="_blank">LinkedIn</a></li>
    <li><a href="https://github.com/jtrantheman" target="_blank">GitHub</a></li>
    <li><a href="https://www.instagram.com/j.trantheman/" target="_blank">Instagram</a></li>
</ul>

<h3>Contact Form:</h3>
<p>Coming soon! In the meantime, you can reach me through email or social media.</p>